<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyc.kotlindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinDemo">
        <activity android:name=".NotificationActivity"></activity>
        <activity android:name=".FileSavedActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".UiActivity" />
        <activity android:name=".SecondActivity">
            <intent-filter>
                <data
                    android:host="指定参数"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>